/* Recipe Index */
.recipe-index-root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.recipe-list-sub-menu {
  display: flex;
  flex-direction: row;
  height: var(--format-heading-small-height);
}

.recipe-list-sub-menu-icon {
  height: var(--format-heading-small-height);
  width: var(--format-heading-small-height);
  padding: 5px 5px;
  box-sizing: border-box;
}

/* Recipe List */
.recipe-list-root {
  height: 100%;
}

.recipe-list-recipes, .recipe-trash-list-recipes {
  display: grid;
  grid-template-columns: 1fr var(--format-line-height);
  overflow-y: scroll;
}

.recipe-list-recipes > .recipe-list-element-root:nth-child(even)>*>*,
.recipe-search-list-recipes > .recipe-search-list-element-root:nth-child(even)>*>*,
.recipe-trash-list-recipes > .recipe-trash-list-element-root:nth-child(even)>*>*{
  background-color: var(--theme-surface-color);
}

.recipe-list-element-root, .recipe-list-element-root>a,
.recipe-search-list-element-root, .recipe-search-list-element-root>a,
.recipe-trash-list-element-root, .recipe-trash-list-element-root>a {
  display: contents;
}

.recipe-list-element-root>a, .recipe-search-list-element-root>a, .recipe-trash-list-element-root>a {
  color: unset;
  text-decoration: none;
}

.recipe-list-element-name,
.recipe-search-list-element-name,
.recipe-trash-list-element-name {
  height: var(--format-line-height);

  display: flex;
  align-items: center;
  padding-left: 5px;
  box-sizing: border-box;

  overflow: hidden;
}

.recipe-list-element-name>span,
.recipe-search-list-element-name>span,
.recipe-trash-list-element-name>span{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.recipe-list-element-trash, .recipe-list-element-untrash {
  display: flex;
  align-items: center;
  margin-right: 5px;
  height: var(--format-line-height);
  width: var(--format-line-height);
}

.recipe-list-empty {
  width: 100%;
  text-align: center;
  padding: 5px 0px;
}

/* Recipe Single */
.recipe-single-root {
  height: 100%;
  overflow-y: scroll;
}

.recipe-single-name-meal {
  display: flex;
  flex-direction: row;
}

.recipe-single-name {
  flex-grow: 1;
  height: var(--format-line-height);
}

.recipe-single-meal {
  flex-grow: 2;
  height: var(--format-line-height);
}

.recipe-single-desc > .form-textarea-input {
  height: 90px;
}

.recipe-single-ingredients, .recipe-single-instruction-list {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  box-sizing: border-box;
}

.recipe-single-ingredient-list > .recipe-ingredient-root:nth-child(odd) {
  background-color: var(--theme-focus-color);
}

.recipe-single-ingredient-list > .recipe-ingredient-root:nth-child(even) {
  background-color: var(--theme-surface-color);
}

.recipe-single-save {
  display: flex;
  justify-content: center;

  margin: 5px;
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
}

.recipe-single-save > .input-img-button {
  height: var(--format-line-height);
}

/* Recipe Ingredient */
.recipe-ingredient-root {
  display: flex;
  flex-direction: row;
}

.recipe-ingredient-marker {
  flex: 0 0 var(--format-line-height);
  height: var(--format-line-height);
  width: var(--format-line-height);
  text-align: center;

  /* disable scroll on touch */
  touch-action: none;
}

.recipe-ingredient-marker img {
  width: 100%;
  height: 100%;
  padding: 5px;
  box-sizing: border-box;
}

.recipe-ingredient-quantity {
  flex: 0 0 40px;
  height: var(--format-line-height);
}

.recipe-ingredient-quantity > input {
  text-align: right;
}

.recipe-ingredient-unit {
  flex: 0 0 min-content;
  width: min-content;
  height: var(--format-line-height);

  background-color: unset;
  border: none;
}

.recipe-ingredient-item {
  padding-left: 5px;
  flex: 4 0 40px;
  height: var(--format-line-height);
}

.recipe-ingredient-optional {
  flex: 0 0 var(--format-line-height);
  height: var(--format-line-height);
}

.recipe-ingredient-quantity-error {
  box-sizing: border-box;
}

.recipe-ingredient-quantity-error {
  border: 1px solid red;
}

.recipe-single-ingredient-add {
  height: var(--format-line-height);
  display: flex;
  justify-content: center;
}

.recipe-single-ingredient-add > img{
  width: var(--format-line-height);
}

.recipe-ingredient-root-own select,
.recipe-ingredient-root-own input[type="text"] {
  color: var(--theme-primary-color-dark)
}

/* .recipe-ingredient-root-lack input[type="text"],
.recipe-ingredient-root-lack img,
.recipe-ingredient-root-lack select {
  color: #d50000;
} */

.recipe-ingredient-delete-indicator {
  position: absolute;
  height: var(--format-line-height);
  background-color: var(--theme-alert-color);
}

.recipe-ingredient-delete-indicator > img {
  height: var(--format-line-height);
}

/* Recipe Instruction */
.recipe-instruction-root {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  display: grid;
  flex-direction: row;
}

.recipe-instruction-list {
  box-sizing: border-box;
  grid-area: 1 / 1 / 2 / 2;
}

.recipe-instruction-list > textarea {
  width: 100%;
  height: 100%;

  padding-left: 25px;
  box-sizing: border-box;
}

.recipe-instruction-list textarea,
.recipe-instruction-list li {
  font-size: var(--format-font-size-small);
}

/* Recipe Shuffle */
.recipe-shuffle-root {
  height: 100%;
  display: flex;
  padding: 5px 15px 50px 15px;

  box-sizing: border-box;
  row-gap: 15px;
  flex-direction: column;
  align-items: center;
}

.recipe-shuffle-root > *{
  border-radius: 5px;
  width: 95%;
}

.recipe-shuffle-form {
  flex: 0 0 max-content;
}

.recipe-shuffle-recipe {
  display: flex;
  flex-direction: column;

  padding: 10px;

  grid-template-columns: 3fr 1fr;
  grid-template-rows:
    max-content
    var(--format-line-height)
    repeat(3, max-content);

  column-gap: 5px;
  row-gap: 15px;

  grid-template-areas:
  "name name"
  "desc desc"
  "ingre ingre"
  ;

  box-sizing: border-box;
  flex: 1 1 max-content;
  overflow-y: scroll;
}

.recipe-shuffle-action {
  display: flex;
  flex-direction: row;

  padding: 15px;

  column-gap: 5px;
  box-sizing: border-box;
  flex: 0 0 max-content;
  justify-content: space-between;
}

.recipe-shuffle-root-grid > *{
  padding: 5px;
  box-sizing: border-box;
  border-radius: 5px;
}

.recipe-shuffle-name {
  display: flex;
  align-items: center;
  justify-content: center;
}

.recipe-shuffle-ingredient-list {
  display: grid;
  column-gap: 5px;
  grid-template-columns: 45px 35px 1fr;
}

.recipe-shuffle-ingredient-list > * { display: contents; }

.recipe-shuffle-ingredient-quantity {
  border-radius: 5px;
}

.recipe-shuffle-ingredient-quantity {
  text-align: right;
}

.recipe-shuffle-action-panel {
  display: flex;
  flex-direction: row;
}

.recipe-shuffle-action-panel>* {
  flex: 1;
  margin: 5px;
  height: var(--format-line-height);
}

.recipe-shuffle-empty {
  display: flex;

  padding: 10px 5px;
  box-sizing: border-box;
  justify-content: center;
  text-align: center;
}

/* Recipe Search  */
.recipe-search-list-root {
  display: flex;
  flex-direction: column;
}

.recipe-search-menu {
  display: grid;
  grid-template-areas:
  "search more"
  "advanced advanced";
  grid-template-columns: 1fr var(--format-line-height);
  grid-template-rows: var(--format-line-height) max-content;

  padding: 0px 5px;
}

.recipe-search-menu-name {
  grid-area: search;
}

.recipe-search-menu-show-advanced {
  grid-area: more;
}

.recipe-search-advanced-menu {
  flex-direction: column;
}

.recipe-search-advanced-menu > .input-text-box {
  height: var(--format-line-height);
}

.recipe-search-advanced-submit {
  grid-area: search;
  width: var(--format-line-height);
}

.recipe-search-list-recipes {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.recipe-search-list-empty {
  display: flex;
}

.recipe-search-list-empty > span {
  padding: 10px;
  text-align: center;
}