services:
  core: 
    depends_on: 
      db:
        condition: service_healthy
    build:
      context: ./docker/core
      dockerfile: Dockerfile
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/health"]
      interval: 60s
      timeout: 5s
      retries: 10
      start_period: 3s
      start_interval: 200ms
  core-migrate:
    depends_on: 
      db:
        condition: service_healthy
    build:
      context: ./docker/core-migrate
      dockerfile: Dockerfile
  web:
    image: nginx
    restart: always
    volumes:
      - ./docker/web/build/:/usr/share/nginx/html/:ro
      - ./docker/web/nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "80:80"
    depends_on:
      core:
        condition: service_healthy
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: test
      POSTGRES_PASSWORD: password
      POSTGRES_DB: core
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "test", "-d", "core"]
      interval: 1s
      timeout: 5s
      retries: 10
    volumes:
      # Uses a tmpfs volume to make tests extremely fast. The data in test
      # databases is not persisted across restarts, nor does it need to be.
      - type: tmpfs
        target: /var/lib/postgresql/data/
    command:
      - "postgres"
      - "-c" # turn off fsync for speed
      - "fsync=off"
      - "-c" # log everything for debugging
      - "log_statement=all"